.banner 
{
    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #240b36, #c31432);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #240b36, #c31432);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.container .banner h3 {
    color: white;
    font-weight: lighter;
    font-size: 45px;
    line-height: 0.7;
    padding: 10% 15%;
    font-family: sans-serif;
}

.container .banner h3 span {
    font-weight: lighter;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

.container .content {
    border: 1px solid black;
    border-radius: 10px;
    margin: 40px;
    padding: 10px;
    box-shadow: 2px 2px 8px black;
}

.container .content .role {
    text-align: center;
    font-family: 'Source Serif 4', sans-serif;
    font-weight: bolder;

}

.container .content p .keys {
    font-family: 'Source Serif 4', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

.container .content p .values {
    font-family: 'Source Serif 4', sans-serif;
}

.container .content hr {
    border: 2px solid green;
}

